.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgb(152, 125, 125);  
}

.app_layout {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(152, 125, 125);  
}

.app_header{
  background-color: aquamarine;
  height: 100%;
  width: 100%;
}
.app_footer{
  background-color: aquamarine;
  height: 100%;
  width: 100%;
}